# Django-specific
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/

# Environment variables
.env

# Virtual environment
venv/

# Static files
staticfiles/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# PyCharm
.idea/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
